<h1 class="font__title"><strong>MyStatus</strong></h1>
<h3 class="font__message"><strong>ようこそMyStatusへ！！</strong></h3>
<p class="font__message">
  当サイトは、体重記録サイトです。<br>
  日々の体重を記録し、変化を分かりやすく視覚化します。<br>
  また、他のユーザーと記録をシェアすることで、モチベーションの意地を助けます。
</p>
