<div class="homes">
  <h1 class="homes__title"><strong>MyStatus</strong></h1>
  <h3 class="homes__message"><strong>ようこそMyStatusへ！！</strong></h3>
  <p class="homes__message">
    当サイトは、体重記録サイトです。<br>
    日々の体重を記録し、変化を分かりやすく視覚化します。<br>
    また、他のユーザーと記録をシェアすることで、モチベーションの維持を助けます。
  </p>
</div>
