<div class="homes">
  <h1 class="homes__title"><strong>MyStatus</strong></h1>
  <h3 class="homes__message"><strong>ようこそMyStatusへ！！</strong></h3>
  <p class="homes__message">
    当サイトは、体重記録サイトです。<br>
    日々の体重を記録し、変化を分かりやすく視覚化します。<br>
    また、他のユーザーと記録をシェアすることで、モチベーションの意地を助けます。
  </p>

  <div class="homes__link">
    <% if user_signed_in? %>
      <%= link_to 'マイページ', user_path(current_user.id), class: "all__link" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "all__link" %>
      <%= link_to '新規登録', new_user_registration_path, class: "all__link" %>
    <% end %>
  </div>
</div>
