@import "link";

.font {
  font-family: Hiragino Mincho ProN;

  &__title {
    font-family: fantasy;
    font-size: 2em;
    text-decoration: none;
  }

  &__message {
    font-family: HiraMinPro-W6;
  }

  &__link {
    @extend %link;
  }
}