.header {
  background-color: #808080;
  display: flex;
  justify-content: flex-end;

  &__title {
    font-family: fantasy;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    margin: auto 2rem;
  }

  &__link {
    list-style: none;
    display: flex;
  }

  &__link-item {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    padding: 0.2rem 0.5rem;
  }

  &__link-item:hover {
    text-decoration: none;
    background-color: #fff;
    color: #808080;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
  }
}

.header > :first-child {
  margin-right: auto;
}

@media screen and (max-width: 425px) {
  .header {
    &__menu-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
      background-color: #3584bb;
    }
    &__menu-btn span,
    &__menu-btn span:before,
    &__menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #ffffff;
      position: absolute;
    }
    &__menu-btn span:before {
      bottom: 8px;
    }
    menu-btn span:after {
      top: 8px;
    }
  }
}
