// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes {
  &__title {
    font-family: fantasy;
    color: #696969;
    font-size: 5em;
    text-align: center;
  }

  &__message {
    font-family: HiraMinPro-W6;
    text-align: center;
    color: #000;
  }

  &__link {
    width: 30%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
  }
}
